<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class='bg-slate-900'>
    <main>
      <div class="text-center">
        <h2 class="mt-4 text-3xl font-bold tracking-tight text-indigo-600 sm:text-5xl">
          <%= error.status %>
        </h2>
        <h1 class="mt-6 text-base leading-7 text-gray-600"><%= message %></h1>

        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a href="/" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            Go back home
          </a>
        </div>
      </div>
           
    </main>
  </body>
</html>

