<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <p>item_detail.name</p>
      <p>item_detail.description</p>
      <p>item_detail.price</p>
      <p>item_detail.category</p>
      <p>item_detail.stock</p>

    </div>
  </body>
</html>
